/* global */

html, body {
	margin: 0;
	padding: 0;
}

div.container {
	width: 70%;
	margin: 0 15%;
	padding: 2em 0;
}

@media screen and (max-width: 750px) {
	div.container {
		width: auto;
		margin: 0 50px;
	}
}

/* dividers */

div.hr {
	width: 80%;
	height: 1px;
	margin: 0.4em 10% 1.2em;
	background-image: url('../images/hr-bg.png');
}

div.hr hr {
	display: none;
}

/* photo frames */

div.photo-frame, div.permanent-photo-frame {
	position: relative;
}

div.permanent-photo-frame > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}