/* meta */

p.date-line {
	color: #555555;
	font-style: italic;
}

/* tag list */

p.tag-list a {
	color: inherit !important;
	border-bottom-style: none;
	line-height: 2.4em;
}

p.tag-list a:hover {
	border-bottom: 1px solid #222222;
}

/* headings */

h3 a {
	color: inherit !important;
	border-bottom: none;
}

h3 a span {
	border-bottom:1px solid #222222;
}

h3 a:hover span {
	border-bottom-style: none !important;
}

h3 i {
	color: #999999;
	margin-right: 0.3em;
}

/* share buttons */

div.ssba {
	margin: 0;
	padding: 0 0 0.8em;
}

div.ssba div {
	text-align: center !important;
}

div.ssba div a {
	text-decoration: none;
	border-bottom: none;
}

div.ssba div a img {
	width: 2em;
	height: 2em;
	padding: 0 0.5em;
}