/* meta */

p.date-line {
	color: #555555;
	font-style: italic;
}

/* tag list */

ul.tag-list li {
	list-style-type: none;
}

ul.tag-list li a {
	color: inherit !important;
	border-bottom-style: none;
}

/* headings */

h3 a {
	color: inherit !important;
	border-bottom: none;
}

h3 a span {
	border-bottom:1px solid #222222;
}

h3 a:hover span {
	border-bottom-style: none !important;
}

h3 i {
	color: #999999;
	margin-right: 0.3em;
}