div.section {
	background: #eeeeee url('../images/section-bg.png') repeat-x top;
}

div.section.footer, div.section.hero {
	padding-bottom: 0 !important;
}

div.waypoint {
	position: absolute;
	top: 50%;
	width: 1px;
	height: 1px;
}

div.anchor {
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
}

/* about */

div.about-photo {
	width: 100%;
	margin-bottom: 1.2em;
	padding-bottom: 75%;
}

div.about-photo > div {
	border: 0.2em solid #222222;
	background: url('../images/profile-photo.png') no-repeat center;
	background-size: cover;
}

/* skills */

div.charts {
	display: none;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0 0 1.6em;
	vertical-align: top;
}

div.charts div.chart {
	width: 24.5%;
	vertical-align: top;
}

div.charts div.chart div.label p {
	font-weight: 400;
}

/* blog */

h3.full-blog-link {
	text-align: center;
}

h3.full-blog-link a {
	font-weight: 400;
	border-bottom-style: none;
}

p.date-line {
	color: #555555;
	font-style: italic;
}

p.tag-list a {
	color: inherit !important;
	border-bottom-style: none;
	line-height: 2.4em;
}

p.tag-list a:hover {
	border-bottom: 1px solid #222222;
}