div.about-photo {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 0.8em;
	padding-bottom: 48%;
}

div.about-photo > div {
	border: 0.4em solid #222222;
	background: url('../images/profile-photo.png') no-repeat center;
	background-size: cover;
}