div.about-photo {
	width: 70%;
	margin-left: 15%;
	margin-bottom: 1.2em;
	padding-bottom: 52.7%;
}

div.about-photo > div {
	border: 0.2em solid #222222;
	background: url('../images/bcs-award.jpg') no-repeat center;
	background-size: cover;
}